<configuration>
  <connectionStrings>
    <add name="SmartCarparkDatabaseConnection"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Full Project Integration V2\Full Project Integration V2\database\SmartCarparkDatabase.mdf;Integrated Security=True;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
    <add name="CarparkDBConnection"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Full Project Integration V2\Full Project Integration V2\database\CarparkDB.mdf;Integrated Security=True;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
    <add name="CarPark"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Full Project Integration V2\Full Project Integration V2\database\CarPark.mdf;Integrated Security=True;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>


